Repository BlueQuartzSoftware/simplnx, pull requests merged in 2022-04, with the labels that each got.

#177 Place cancel check _after_ filter returns from execute.
  src/complex/Pipeline/Pipeline.cpp
Labels: bug

#176 Adding more details to error message when loading pipeline fails
  src/complex/Pipeline/Pipeline.hpp
  src/complex/Pipeline/PipelineFilter.cpp
Labels: enhancement

#173 MultiThresholdObjects: Create BoolArray instead of UInt8Array
  src/Plugins/ComplexCore/src/ComplexCore/Filters/FindSurfaceFeatures.cpp
  src/Plugins/ComplexCore/src/ComplexCore/Filters/MultiThresholdObjects.cpp
  src/Plugins/ComplexCore/src/ComplexCore/Filters/RobustAutomaticThreshold.cpp
  src/Plugins/ComplexCore/src/ComplexCore/Filters/ScalarSegmentFeaturesFilter.cpp
  src/Plugins/ComplexCore/test/FindSurfaceFeaturesTest.cpp
  src/Plugins/ComplexCore/test/RobustAutomaticThresholdTest.cpp
Labels: bug, enhancement

#153 Feature/FindNeighbors
  src/Plugins/ComplexCore/CMakeLists.txt
  src/Plugins/ComplexCore/data/FindNeighbors.md
  src/Plugins/ComplexCore/src/ComplexCore/Filters/FindNeighbors.cpp
  src/Plugins/ComplexCore/src/ComplexCore/Filters/FindNeighbors.hpp
  src/Plugins/ComplexCore/test/CMakeLists.txt
  src/Plugins/ComplexCore/test/FindNeighborsTest.cpp
  src/complex/DataStructure/AbstractDataStore.hpp
  src/complex/Filter/Actions/CreateArrayAction.hpp
Labels: Filter

#154 Added MinNeighbors filter
  src/Plugins/ComplexCore/CMakeLists.txt
  src/Plugins/ComplexCore/data/MinNeighbors.md
  src/Plugins/ComplexCore/src/ComplexCore/Filters/MinNeighbors.cpp
  src/Plugins/ComplexCore/src/ComplexCore/Filters/MinNeighbors.hpp
  src/Plugins/ComplexCore/test/CMakeLists.txt
  src/Plugins/ComplexCore/test/MinNeighborsTest.cpp
Labels: Filter

#172 ExtractInternalSurfacesFromTriangleGeometry: Rewrote algorithm without hashes and maps for a large speed up and memory reduction
  src/Plugins/ComplexCore/docs/ExtractInternalSurfacesFromTriangleGeometry.md
  src/Plugins/ComplexCore/src/ComplexCore/Filters/ExtractInternalSurfacesFromTriangleGeometry.cpp
  src/Plugins/ComplexCore/src/ComplexCore/Filters/QuickSurfaceMeshFilter.cpp
  src/Plugins/ComplexCore/test/ExtractInternalSurfacesFromTriangleGeometryTest.cpp
  src/complex/Filter/Actions/CreateTriangleGeomAction.cpp
  src/complex/Filter/Actions/CreateTriangleGeomAction.hpp
Labels: Filter

#187 Added missing BaseGroup::readHdf5 argument
  src/complex/DataStructure/BaseGroup.cpp
  src/complex/DataStructure/BaseGroup.hpp
  src/complex/DataStructure/DataGroup.cpp
  src/complex/DataStructure/DataGroup.hpp
  src/complex/DataStructure/Factory/DataGroupFactory.cpp
  src/complex/DataStructure/Factory/GridMontageFactory.cpp
  src/complex/DataStructure/Factory/HexahedralGeomFactory.cpp
  src/complex/DataStructure/Factory/ImageGeomFactory.cpp
  src/complex/DataStructure/Factory/QuadGeomFactory.cpp
  src/complex/DataStructure/Factory/RectGridGeomFactory.cpp
  src/complex/DataStructure/Factory/TetrahedralGeomFactory.cpp
  src/complex/DataStructure/Factory/TriangleGeomFactory.cpp
  src/complex/DataStructure/Factory/VertexGeomFactory.cpp
  src/complex/DataStructure/Geometry/EdgeGeom.cpp
  src/complex/DataStructure/Geometry/EdgeGeom.hpp
  src/complex/DataStructure/Geometry/HexahedralGeom.cpp
  src/complex/DataStructure/Geometry/HexahedralGeom.hpp
  src/complex/DataStructure/Geometry/ImageGeom.cpp
  src/complex/DataStructure/Geometry/ImageGeom.hpp
  src/complex/DataStructure/Geometry/QuadGeom.cpp
  src/complex/DataStructure/Geometry/QuadGeom.hpp
  src/complex/DataStructure/Geometry/RectGridGeom.cpp
  src/complex/DataStructure/Geometry/RectGridGeom.hpp
  src/complex/DataStructure/Geometry/TetrahedralGeom.cpp
  src/complex/DataStructure/Geometry/TetrahedralGeom.hpp
  src/complex/DataStructure/Geometry/TriangleGeom.cpp
  src/complex/DataStructure/Geometry/TriangleGeom.hpp
  src/complex/DataStructure/Geometry/VertexGeom.cpp
  src/complex/DataStructure/Geometry/VertexGeom.hpp
  src/complex/DataStructure/Montage/GridMontage.cpp
  src/complex/DataStructure/Montage/GridMontage.hpp
Labels: bug

#181 FILTER: ApplyTransformationToGeometry
  src/Plugins/ComplexCore/CMakeLists.txt
  src/Plugins/ComplexCore/docs/ApplyTransformationToGeometry.md
  src/Plugins/ComplexCore/src/ComplexCore/Filters/Algorithms/ApplyTransformationToGeometry.cpp
  src/Plugins/ComplexCore/src/ComplexCore/Filters/Algorithms/ApplyTransformationToGeometry.hpp
  src/Plugins/ComplexCore/src/ComplexCore/Filters/ApplyTransformationToGeometryFilter.cpp
  src/Plugins/ComplexCore/src/ComplexCore/Filters/ApplyTransformationToGeometryFilter.hpp
  src/Plugins/ComplexCore/src/ComplexCore/Filters/InterpolatePointCloudToRegularGridFilter.cpp
  src/Plugins/ComplexCore/src/ComplexCore/Filters/MapPointCloudToRegularGridFilter.cpp
  src/Plugins/ComplexCore/src/ComplexCore/Filters/ScalarSegmentFeaturesFilter.cpp
  src/Plugins/ComplexCore/test/ApplyTransformationToGeometryFilterTest.cpp
  src/Plugins/ComplexCore/test/CMakeLists.txt
  src/complex/Filter/IFilter.hpp
Labels: enhancement, Filter

#210 Updated geometry readHdf5 methods
  src/complex/DataStructure/Geometry/AbstractGeometry2D.cpp
  src/complex/DataStructure/Geometry/AbstractGeometry2D.hpp
  src/complex/DataStructure/Geometry/AbstractGeometry3D.cpp
  src/complex/DataStructure/Geometry/AbstractGeometry3D.hpp
  src/complex/DataStructure/Geometry/EdgeGeom.cpp
  src/complex/DataStructure/Geometry/EdgeGeom.hpp
  src/complex/DataStructure/Geometry/HexahedralGeom.cpp
  src/complex/DataStructure/Geometry/QuadGeom.cpp
  src/complex/DataStructure/Geometry/QuadGeom.hpp
  src/complex/DataStructure/Geometry/TetrahedralGeom.cpp
  src/complex/DataStructure/Geometry/TriangleGeom.cpp
  src/complex/DataStructure/Geometry/TriangleGeom.hpp
  test/H5Test.cpp
Labels: bug

#201 Ported RotateSampleRefFrame
  src/Plugins/ComplexCore/CMakeLists.txt
  src/Plugins/ComplexCore/data/RotateSampleRefFrameTest.dream3d
  src/Plugins/ComplexCore/docs/Images/RotateSampleRefFrame_1.png
  src/Plugins/ComplexCore/docs/RotateSampleRefFrame.md
  src/Plugins/ComplexCore/src/ComplexCore/Filters/RotateSampleRefFrame.cpp
  src/Plugins/ComplexCore/src/ComplexCore/Filters/RotateSampleRefFrame.hpp
  src/Plugins/ComplexCore/test/CMakeLists.txt
  src/Plugins/ComplexCore/test/RotateSampleRefFrameTest.cpp
Labels: Filter
